<!DOCTYPE html>
<html>
<div class="container">
  <div class="jumbotron">
    <p class="lead">


    <h1>Listing memberships</h1>

    <table class="table">
      <thead>
      <tr>
        <th>Memidid</th>
        <th>Memname</th>
        <th>Status</th>
        <th>Validmonths</th>
        <th>Cost</th>
        <th>Freetrans</th>
        <th>Cost add</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @memberships.each do |membership| %>
          <tr>
            <td><%= membership.memidid %></td>
            <td><%= membership.memname %></td>
            <td><%= membership.status %></td>
            <td><%= membership.validmonths %></td>
            <td><%= membership.cost %></td>
            <td><%= membership.freetrans %></td>
            <td><%= membership.costadd %></td>
            <td><%= link_to 'Show', membership %></td>
            <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
            <td><%= link_to 'Destroy', membership, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Membership', new_membership_path %>
    </p>
  </div>
</div>
</html>
