<!DOCTYPE html>
<html>
<div class="container">
  <div class="jumbotron">
    <p class="lead">
<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Mem:</strong>
  <%= @user.memid %>
</p>

<p>
  <strong>Reg date:</strong>
  <%= @user.regdate %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @user.expiredate %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

    </p>
  </div>
</div>
</html>
