<% if action == 'index' %>
    <%= render 'sidebar' %>
<% end %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <% if action != 'show' %>
      <%= bootstrap_flash %>
  <% end %>
  <h1 class="page-header">Orders</h1>
  <div class="row">
    <%= form_tag(orders_path, :method => "get", id: "customers-search-form", role: "search") do %>
        <div class="col-lg-8">
          <div class="input-group">
          <span class="input-group-btn">
            <%= button_tag(type: 'submit', class: "btn btn-default") do %>
              Search
            <% end %>
          </span>
            <%= text_field_tag :search, params[:search], class: "form-control", value: params[:search], placeholder: 'Enter the order number...' %>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <%= select_tag(:ordering, options_for_select( [ ['ASC', "0"], ['DESC', "1"] ], :selected => params[:ordering] ), { :class => 'form-control' } )  %>
        </div><!-- /.col-lg-4 -->
    <% end %>
  </div>
  <br>
  <% if !@orders.empty? %>
      <div class="row"></div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Order #</th>
          <th>Customer</th>
          <th></th>
          <th class="text-center">Date</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
            <tr>
              <td><%= link_to order.id, order_path(order.id) %></td>
              <td><%= link_to order.customer.name, customer_path(order.customer_id) %></td>
              <td class="text-center"><span class="label <%= order.paid == 1 ? 'label-success' : 'label-warning' %>"><%= order.name %></span></td>
              <td class="text-center"><%= order.created_at.strftime("%d-%m-%Y - %I:%m %p") %></td>
              <td><%= number_to_currency(order.total, unit: "Bs. ", separator: ",", delimiter: ".") %></td>

              <td class="text-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-gear"></i> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><%= link_to 'View', order %></li>
                    <li><%= link_to 'Edit', edit_order_path(order) %></li>
                    <li><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are your sure to delete the order ' + order.id.to_s + '?' } %></li>
                  </ul>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <div class="alert alert-warning g-margin-b-0" role="alert">The customer does not have any orders!</div>
  <% end %>
</div>