<% if false %>
<!DOCTYPE html>
<html>
<div class="container">
  <div class="jumbotron">
    <p class="lead">

    <h1>Editing order</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @order %> |
    <%= link_to 'Back', orders_path %>
    </p>
  </div>
</div>
</html>
<% end %>
<%= render 'sidebar' %>
<%= render 'form', name: "Edit Order #", action: "edit", readonly: false %>